@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="10" /> <p>Beware, this counter counts differntly than the on the sidebar</p>


<p style="font-weight: lighter;">This is using a font called "Mountains of Christmas"</p>